:root {
    --themeColor: #F97E27;
    --themeColor2: #1C264E;
    --bgColor: #FFFDFC;
    --bgLight: #F5F5F5;
    --white: #FFFFFF;
    --border: #CFD6DC;
    --text: #1C264E;
    --text2: #434343;
    --text3: #CFD6DC;
    --text4: #777777;
    --lightBlue: #EFF2FF;

}